{% extends 'moviesite/base.html' %}

{% block title %}Home Page{% endblock %}
{% block content %} 
    <main>
        {% for i in movies %}
        <a href="{% url 'moviesite:infoM' i.m_id %}">
            <div class="movie">
                <img src="{{ i.m_poster_path }}" alt="Oops..">
                
                <div class="movie-info">     
                        <h2>
                            {{ i.m_title }}
                        </h2>
                        <span>{{ i.m_rating }}</span>
                </div>
            </div>
        </a>
        {% endfor  %}
    </main>
{% endblock %}


